* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  gap: 190px;
}
.logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-top: 9px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
